@font-face {font-family: 'Not Verdana'; src: url('fonts/FranklinGothic.ttf'); font-style: normal; font-weight: normal;}
@font-face {font-family: 'Not Verdana'; src: url('fonts/FranklinGothic\ Bold.ttf'); font-weight: bold;}
@font-face {font-family: 'Segoe UI'; src: url(fonts/Segoe\ UI.ttf); font-style: normal; font-weight: normal;}

html {background: #F8F8F8;}
body {background: #F8F8F8; margin: 0; font-family: 'Not Verdana', Tahoma;}
a, a:visited {color: #2B6BB4;}
a:active {color: #1A53A2;}
a:hover {color: #0E2041;}
p.subheader {font: 600 1.1EM 'Not Verdana'; font-variant: small-caps; margin-bottom: 0.6EM;  color: #1A53A2;}
h1.box-title {font: 800 2.3EM 'Not Verdana'; margin: 0.3EM 0 0.5EM;}
header {display: flex; flex-wrap: wrap; box-sizing: border-box; justify-content: space-evenly; background-color: white;}
header ul {list-style-type: none;padding-left: 0; margin: 0 auto;}
header ul li {position: relative; margin: 0 25PX; display: inline-block; vertical-align: middle;}
header li.img-anchor {margin-left: 0;}
header li.menu {display: none;}
header a {font: 400 22PX 'Not Verdana'; text-decoration: none; border-bottom: 0; color: #0E2041;}
header a:hover {padding-bottom: 0.15EM; color: #2B6BB4;  border-bottom: 3PX solid #2B6BB4;}
header img {height: 80PX; display: block; margin: 8PX 0;}
.intro-box {background: #000000 linear-gradient(90DEG, #3366CC 0%,  #0076E3 100%); height: 450PX; display: flex; align-items: center;}
.intro-box .caption {padding-left: 12%;}
.intro-box .caption h1 {color: white; font: 600 75PX 'Not Verdana'; margin: 0.1EM 0 0.35EM; line-height: 1.1;}
.intro-box a {font: normal 24PX 'Not Verdana'; margin-top: -10PX; padding: 10PX 15PX; color: #E0E0E0; text-decoration: none; border: 2PX solid #E0E0E0; display: inline-block; border-radius: 8PX; transition: 0.3S ease-in-out;}
.intro-box a:hover {color: white; border: 2PX solid white; box-shadow: 0 0 5PX silver;}
.intro-box .see-more {margin: -10PX 15PX 0 0; background-image: linear-gradient(45DEG, #0076E3, #FF1E54); color: #E0E0E0; border: 2PX solid linear-gradient(45DEG, #0076E3, #FF1E54);}
.intro-box .see-more:hover {background-image: linear-gradient(45DEG, #1A53A2, #BF163D); color: white;}
.about {text-align: center;}
.about p {width: 50%; margin: 0.3EM auto; font-size: 1.3EM;}
.about p.boast {font-size: 21PX; line-height: 1.15EM;}
.about a {font: normal 21PX 'Not Verdana'; margin-top: 0.5EM; padding: 10PX 15PX; color: white; text-decoration: none; background-color: #3366CC;  display: inline-block; border-radius: 8PX; transition: 0.3S ease-in-out; border: 2PX  solid transparent;}
.about a:hover {background-color: transparent; border: 2PX solid #3366CC; color: #3366CC;}
/* background: linear-gradient(180deg, rgba(183, 52, 179, 0) 0%, rgba(164, 46, 156, 0) 100%),#6E40C9;  */

@media screen and (max-width: 775PX) {
    .top-nav ul {width: 100%; padding-left: 20PX;}
    .top-nav li:not(:first-child) {display: none;}
    .top-nav li.menu {float: right; display: block; line-height: 100PX;}
    .top-nav li.menu a {display: inline;}
    .top-nav.responsive ul {padding-left: 40PX;}
    .top-nav.responsive li.menu {position: absolute; top: 0; right: 0;}
    .top-nav.responsive {position: relative;}
    .top-nav.responsive li {float: none; display: block; padding: 0.3EM 0;}
    .top-nav.responsive li.img-anchor {display: inline-block; width: 40%;}
    .top-nav.responsive li.img-anchor a {display: inline-block; width: 100%;}
    .top-nav.responsive a {width: 100VW; display: block;}
    .intro-box {margin: 10PX 0; padding: 1EM 0;}
    .intro-box .caption {margin-left: -7%;}
    .intro-box .caption h1 {font-size: 60PX; margin-bottom: 0.15EM;}
    .intro-box .caption a {margin: 10PX; margin-left: 0;}
}