HTML {background:  #E0E0E0 url(bg.jpg) no-repeat fixed center; background-size: cover;}
BODY {background-color: #E0E0E0; box-shadow: 0px 0px 20px 0px lightgrey; width: fit-content;  max-width: 1280PX; margin: 0 auto}
MAIN {padding: 10PX; border: 1PX solid black; border-top: 0;}
TD, TH {padding: 2PX 5PX;}
A:HOVER {background-color: #FFFF99;}
A:VISITED {color: blue;}
A:VISITED:HOVER {background-color: #FFFF99;}
ABBR:HOVER:BEFORE {content: attr(title); position: absolute; background-color: black; color: white; padding: 3PX 8PX; margin: -25PX 0 0 0;}
P {margin: 0.7EM 0;}
H1, H2, H3 {margin: 0.4EM 0;}
H4, H5, H6 {margin: 0.5EM 0;}
H2 {font-size: 1.7EM;}
H3 {font-size: 1.5EM;}
H4 {font-size: 1.3EM;}
H5 {font-size: 1.2EM;}
H6 {font-size: 1.15EM; text-decoration: underline;}
H1 A, H2 A, H3 A, H4 A, H5 A, H6 A {text-decoration: dotted; color: inherit;}
H1 A:VISITED, H2 A:VISITED, H3 A:VISITED, H4 A:VISITED, H5 A:VISITED, H6 A:VISITED {color: inherit;} 
H1 A:VISITED:HOVER, H2 A:VISITED:HOVER, H3 A:VISITED:HOVER, H4 A:VISITED:HOVER, H5 A:VISITED:HOVER, H6 A:VISITED:HOVER {background-color: transparent; } 
H1 A:HOVER, H2 A:HOVER, H3 A:HOVER, H4 A:HOVER, H5 A :HOVER, H6 A:HOVER {text-decoration: underline; background-color: transparent; color: red;}
.DM {background-color: black; color: white;} /* dark mode/theme */
.LEFT {float: left;} .RIGHT {float: right;} .CLEAR {clear: both;} /* floats */
.BOX {display: block; border: 1PX solid black;} .PD {padding: 0 10PX;} .NO-BD {border: 0;} /* 'modifier'/'add-on' classes */
.BOX-H {padding-left: 0.15EM;}
.VLOGT TD, TH {padding: 0; border-spacing: 20PX;}
.VLOGT TD A {display: block; padding: 10PX; text-decoration: none; border: 1PX solid transparent;}
.VLOGT TD A:HOVER {border: 1PX solid grey; box-shadow: 0 0 5PX 5PX silver;}
.VLOGT TD A:ACTIVE {background-color: #EEEE99; border: 1PX solid crimson;}
.VLOGT .caption {overflow: hidden;}
.VLOGT .number {width: 45PX; text-align: center;  font: 500 1.5EM 'Times New Roman'; border: 1PX groove red; background-color: khaki; color: black;}
.VLOGT .number:HOVER {color: black;}
.VLOGT .date {padding-left: 10PX; color: #333333; font-style: italic; font-size: 1.05EM;}
.VLOGT .title {padding-left: 10PX; font: 600 1.7EM 'Verdana'; color: black;}
VIDEO.thumb {width: 320PX; max-height: 180PX; object-fit: fill;}
HEADER {background-color: wheat; border: 1PX solid black; margin-top: 12PX; padding-top: 3PX;}
HEADER H1 {margin: 0.2EM 0; font-size: 2.5EM;}
HEADER .tagline {font: 500 1.4EM "Times New Roman"; margin: 0;}
HEADER TD.TOP-NAV {padding: 0;}
HEADER A {display: block; padding: 6PX 10PX; border: 1PX solid transparent;}
HEADER A:HOVER {border: 1PX solid red;}
#MAINPAGE {border-spacing: 10PX; border: 1PX solid black; border-top: 0;}
#SIDE-NAV {background-color: #E8F2F2; max-width: 300PX;}
#SIDE-NAV H2 {background-color: #9BC6FF;  border: 1PX solid #AAAAAA;}
#SIDE-NAV A {display: block; border-bottom: 1PX solid black; text-decoration: none; margin: 0 5PX; padding: 0.07EM 3PX;}
#SIDE-NAV A:HOVER {background-color: #4B86D3; color: white;}
#SIDE-NAV A:ACTIVE {background-color: #3C6CAB;}
#SIDE-NAV DETAILS { margin: 0 5PX; padding: 0.07EM 3PX;}
#SIDE-NAV DETAILS:HOVER {background-color: #4B86D3;  color: white; cursor: pointer;}
#SIDE-NAV DETAILS[OPEN] > SUMMARY::AFTER {content: '\F0D7';}
#SIDE-NAV SUMMARY {display: block; width: 100%; position: relative; color: blue;}
#SIDE-NAV SUMMARY:HOVER {color: white;}
#SIDE-NAV SUMMARY::AFTER {position: absolute; right: 0; display: inline-block; content: '\F0DA'; font-family: FontAwesome;}
#SIDE-NAV DETAILS UL {list-style-type: none; padding-left: 0; margin-top: 0;}
#POTD {background-color: #FFFF99;}
#POTD IMG {display: block; text-align: center;}
#POTD H2 {background-color: #EEEE99;  border: 1PX solid #AAAAAA;}
#VLOG {background-color: #DDFFEA; max-width: 400PX; padding-bottom: 10PX;}
#VLOG H2 {background-color: #CEF250; border: 1PX solid #AABBDD;}
#VLOG .biography {background-color: #FFFFDD; padding: 10PX; border: 1PX solid black;}
#VLOG .vloglink {background-color: black; text-align: center;  height: 80PX; font-size: 1.15EM; margin-bottom: 10PX; width: 100%;}
#VLOG .vloglink A {color: white; display: inline-block;}
#VLOG .vloglink A:HOVER {background-color: transparent; font-weight: bold; color: red;}
#VLOG .vloglink A:ACTIVE {color: darkred;}
#UPDATE {background-color: #DEDCFF; border: 1PX solid #B5AAFF; max-width: 600PX;}
#UPDATE H2 {background-color: #DDCEFF; border: 1PX solid #ABA3BF;}
#UPDATE IMG {width: 200PX; max-width: 450PX; margin-right: 10PX;}
#js-needed {border: 1PX solid black; background-color: #FFFFDD; padding: 8PX; font: normal 12PX serif;}
#js-needed H3 {font-size: 1.2EM; margin: 0; margin-bottom: 0.2EM; text-decoration: underline;}
#js-needed BR {display: block; margin: 1EM; line-height: 1.5EM;}
#js-needed IMG {height: 50PX; width: 50PX; margin-right: 10PX;}
#flag-counter A {color: black;}
.biography H3 {display: inline-block; margin: 0.2EM 0; margin-bottom: 0;}
.biography IMG {margin: 5PX 10PX 0 0;}